// Tags
.AC-Typography-base {
  font-family: inherit;
  font-weight: 400;
  line-height: 1;
}
.AC-Typography-h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.01562em;
}
.AC-Typography-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.00833em;
}
.AC-Typography-h3 {
  font-size: 3rem;
  line-height: 1.04;
  letter-spacing: 0em;
}
.AC-Typography-h4 {
  font-size: 2.125rem;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}
.AC-Typography-h5 {
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0em;
}
.AC-Typography-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.AC-Typography-body1 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.AC-Typography-body2 {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
.AC-Typography-caption {
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
.AC-Typography-button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

// Align
.AC-Typography-align-center {
  text-align: center;
}
.AC-Typography-align-justify {
  text-align: justify;
}
.AC-Typography-align-left {
  text-align: left;
}
.AC-Typography-align-right {
  text-align: right;
}

// Gutter bottom
.AC-Typography-gutterBottom {
  margin-bottom: 0.35em;
}

// NoWrap
.AC-Typography-noWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Paragraph
.AC-Typography-paragraph {
  margin-bottom: 16px;
}
