.ACStepper__wrapper {
  width: 100%;
}

.ACStepper__heading {
  width: 100%;
  display: flex;
  align-items: center;
}

.ACStepper__heading-step {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ACStepper__heading-step-label--left {
  flex-direction: row-reverse;
  & .ACStepper__heading-step-dot {
    margin-left: 10px;
    margin-right: 0;
  }
}
.ACStepper__heading-step-label--top {
  display: flex;
  flex-direction: column-reverse;
  & .ACStepper__heading-step-dot {
    margin-top: 10px;
  }
}
.ACStepper__heading-step-label--bottom {
  display: flex;
  flex-direction: column;
  & .ACStepper__heading-step-dot {
    margin-bottom: 10px;
  }
}

.ACStepper__heading-step-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c9c9c;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  transition: all 0.3s ease-in;
  transition-delay: 0.3s;
}
.ACStepper__heading-step-label {
  width: max-content;
}

.ACStepper__heading-line {
  position: relative;
  flex-basis: 100%;
  height: 2px;
  background: #9c9c9c;
  margin: 0 5px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6090dc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  &.ACStepper__heading-line--done {
    &:before {
      transform: scaleX(1);
    }
  }
}

.ACStepper__heading-line--top {
  align-self: end;
  margin-bottom: 10px;
}
.ACStepper__heading-line--bottom {
  align-self: start;
  margin-top: 10px;
}

.ACStep__heading-step-dot--done,
.ACStep__heading-step-dot--active {
  background-color: #6090dc;
}
.ACStepper__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
