@use "../../../utils/globalVariables" as global;

.ACTable select {
  padding: 10px;
}

.ACTable {
  border: 1px solid global.$color-gray-200;
  box-shadow: 2px 2px 5px global.$color-gray-300;
  position: relative;
}

.ACTable-filter {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.ACTable-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid global.$color-gray-200;
}

.ACTable-header select {
  padding: 5px;
  margin: 10px;
}

.ACTable-header-primary {
  background-color: global.$color-primary;
  color: white;
}

.ACTable-header-secondary {
  background-color: global.$color-secondary;
  color: white;
}

.ACTable-header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ACTable-header input {
  color: black;
}

.ACTable-tableWrapper {
  overflow-x: auto;
}

.ACTable-table {
  border-spacing: 0;
  width: 100%;
  background-color: white;
}

.ACTable-table-Tablehead-column-head-wrapper {
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.ACTable-table-Tablehead-column-head {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ACTable-table td,
th {
  border-bottom: 1px solid global.$color-gray-200;
  padding: 15px;
}

.ACTable-table th {
  &:hover {
    background-color: global.$color-gray-100;
    transition: 0.25s;
  }
}

.ACTable-table-data-row input,
.ACTable-table-Tablehead-column-head-wrapper input {
  width: 1rem;
  height: 1rem;
}

.ACTable-table-data-row:hover {
  background-color: global.$color-gray-100;
  cursor: pointer;
  transition: 0.25s;
}

.ACTable-table-data-row-selected {
  background-color: global.$color-gray-100;
  transition: 0.25s;
}

.ACTable-table-data-searched {
  color: black;
  background-color: yellow;
}

.ACTable-table-data-actions-wrapper {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.ACTable-table-data-actions-iconWrapper {
  display: flex;
}

.ACTable-pagination select {
  padding: 5px;
  margin: 10px;
}

.ACTable-selectedRowsNum {
  font-size: 1.5rem;
}

.ACTable-noResults {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  background-color: white;
}
.ACTable-loadingData {
  position: relative;
  width: 100%;
  height: 100px;
}

.ACTable-table-Tablehead-column-head-sortIcon {
  transition: transform 0.25s;
}

.ACTable-table-Tablehead-column-head-sortIcon-rotated180 {
  transform: rotate(180deg);
  transition: transform 0.25s;
}

.ACTable-table-data-row-selectCheckbox {
  border-right: 1px solid global.$color-gray-200;
  text-align: center;
  width: 1%;
}

.ACTable-table-data-row-actions-td {
  border-left: 1px solid global.$color-gray-200;
  padding: 0 !important;
  width: 1%;
}
