@use "../../../utils/globalVariables" as global;

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: 0.5s;
  border: 0;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    color: global.$color-gray-200;
    border: 0;
    box-shadow: none !important;
  }
  &:disabled:hover {
    background-color: transparent;
  }
}

.Button-primary {
  color: global.$color-primary;
}

.Button-secondary {
  color: global.$color-secondary;
}

.Button-contained-primary {
  color: white;
  background-color: global.$color-primary;
  box-shadow: 1px 1px 5px gray;

  &:hover {
    box-shadow: 2px 2px 5px gray;
  }
}

.Button-outlined-primary {
  color: global.$color-primary;
  background-color: transparent;
  border: 1px solid global.$color-primary;

  &:hover {
    background-color: global.$color-primary-light;
  }
}

.Button-text-primary {
  color: global.$color-primary;
  background-color: transparent;
  border: 0;

  &:hover {
    background-color: global.$color-primary-light;
  }
}

.Button-contained-secondary {
  color: white;
  background-color: global.$color-secondary;
  box-shadow: 1px 1px 5px gray;

  &:hover {
    box-shadow: 2px 2px 5px gray;
  }
}

.Button-outlined-secondary {
  color: global.$color-secondary;
  background-color: transparent;
  border: 1px solid global.$color-secondary;

  &:hover {
    background-color: global.$color-secondary-light;
  }
}

.Button-text-secondary {
  color: global.$color-secondary;
  background-color: transparent;
  border: 0;

  &:hover {
    background-color: global.$color-secondary-light;
  }
}

.Button-contained-success {
  color: white;
  background-color: global.$color-success;
  box-shadow: 1px 1px 5px gray;

  &:hover {
    box-shadow: 2px 2px 5px gray;
  }
}

.Button-outlined-success {
  color: global.$color-success;
  background-color: transparent;
  border: 1px solid global.$color-success;

  &:hover {
    background-color: global.$color-success-light;
  }
}

.Button-text-success {
  color: global.$color-success;
  background-color: transparent;
  border: 0;

  &:hover {
    background-color: global.$color-success-light;
  }
}

.Button-contained-error {
  color: white;
  background-color: global.$color-error;
  box-shadow: 1px 1px 5px gray;

  &:hover {
    box-shadow: 2px 2px 5px gray;
  }
}

.Button-outlined-error {
  color: global.$color-error;
  background-color: transparent;
  border: 1px solid global.$color-error;

  &:hover {
    background-color: global.$color-error-light;
  }
}

.Button-text-error {
  color: global.$color-error;
  background-color: transparent;
  border: 0;

  &:hover {
    background-color: global.$color-error-light;
  }
}

.Button-small {
  font-size: 12px;
}

.Button-medium {
  font-size: 16px;
}

.Button-large {
  font-size: 20px;
}

.Button-leftIcon {
  display: flex;
  margin-right: 3px;

  &.noMargin {
    margin: 0;
  }
}

.Button-rightIcon {
  display: flex;
  margin-left: 3px;

  &.noMargin {
    margin: 0;
  }
}

.Button-iconButton {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
