.ACTabs__wrapper {
  width: 100%;
}

.ACTabs__header {
  display: flex;
  align-items: center;
  background: #0d3343;
}
.ACTabs__header-button {
  color: #ffffffb9;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  padding: 12px 16px;
  &:hover {
    background: hsla(0, 0%, 100%, 0.1);
  }
}
.ACTabs__header-button.ACTabs__header-button--active {
  &:hover {
    background: transparent;
  }
}
.ACTabs__header-button--active {
  color: #fff;
}
