.ACAccordion {
  box-shadow: 1px 1px 2px gray;
}

.ACAccordion-item {
  border: 1px solid #ececec;
  position: relative;
  background-color: white;

  &.ACAccordion-item-disabled {
    user-select: none;
    pointer-events: none;
  }
}

.ACAccordion-item-disableWrapper {
  background-color: #acacac;
  opacity: 80%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ACAccordion-item-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  &:hover {
    cursor: pointer;
  }
}

.ACAccordion-item-title-arrowIcon {
  &.ACAccordion-item-title-arrowIcon-visible {
    transform: rotate(0);
    transition: 0.25s;
  }

  &.ACAccordion-item-title-arrowIcon-hidden {
    transform: rotate(180deg);
    transition: 0.25s;
  }
}

.ACAccordion-item-data-wrapper {
  overflow: hidden;

  &.ACAccordion-item-data-wrapper-hidden {
    transition: 0.25s;
  }

  &.ACAccordion-item-data-wrapper-visible {
    transition: 0.25s;
  }
}
